# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtualenv
venv/
.venv/

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
